<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
 
	<context:component-scan base-package="es.steria.rest" />
	
	<bean id="semillaDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/semillaWS"/>
		<property name="username" value="root"/>
		<property name="password" value="murcia"/>
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">	
		<property name="persistenceUnitName" value="semilla-ws"/>
		<property name="jpaVendorAdapter">
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	           <property name="showSql" value="true" />
	        </bean>
	     </property>
	     <property name="loadTimeWeaver">
          <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property> 
		<property name="dataSource">
			<ref bean="semillaDataSource"/>
		</property>
	</bean>
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    
    <tx:annotation-driven transaction-manager="transactionManager"/>    
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="entityManagerFactory" />
  	</bean>
  	<tx:annotation-driven/>
 
	<mvc:annotation-driven />
	
	<bean xmlns="http://www.springframework.org/schema/beans" 
  		id="daoBusines" 
  		class="es.steria.rest.genericos.dao.impl.JPADAOGenerico">
    	<constructor-arg>
      		<value>es.steria.rest.model.Busines</value>
    	</constructor-arg>    	
 	</bean>
 	<bean xmlns="http://www.springframework.org/schema/beans" 
 		id="servicioBusines" 
 		class="es.steria.rest.genericos.servicio.impl.ServicioGenericoImpl">
   		<property name="dao">
     			<ref local="daoBusines" />
   		</property>
 	</bean>	
	
	<bean id="springApplicationContext" 
		class="es.steria.rest.util.SpringApplicationContext"/>
		
	<bean id="log4jInitializer"  class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
    	<property name="staticMethod"  value="org.springframework.util.Log4jConfigurer.initLogging" />
    	<property name="arguments">
       	<list>
         	<value>classpath:log4j.properties</value>
          	<value>1000</value>
      	 </list>
    	</property>
 </bean>
	
</beans>